body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
 
}
.container {
    margin: 0 7%;

}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}
.nav-item:hover {
    color: #FF7400;
}
.cart {
    border-right: 1px solid #FFFFFF;
    padding-right: 20px;
    height: 50px;
    position: relative;
}
.cart-img {
    position: absolute;
    top: 20px;
    right: 20px;
}
.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;  
    transition: color 0.3s linear; 
}

.num:hover {
    color: #FF7400;  
}
.phone-text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.phone-holder {
    display: flex;
    align-items: center;
}
.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    font-size: 14px;
    transition: background-color 0.2s linear; 
}
.button:hover {
    background-color: #bc5002;
}
.burger-menu {
    display: none;
}

.header-body {
    position: relative;
}
.header-title {
    position: absolute;
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    left: 50px;
    margin-top: 204px;
    
}
.header-subtitle {
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 80px;
}
.header-suptitle {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.header-suptitle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 61px;
    background-color: #fff;
    left: 335px;
    top: 175px;
}
.header-suptitle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 61px;
    background-color: #fff;
    left: 85px;
    top: 175px;
}
.header-button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 28px;
    text-transform: uppercase;
    transition: background-color 0.2s linear; 

}
.header-button:hover {
    background-color: #bc5002;
}

.cards-holder {
    display: flex;
    justify-content: center;
}
.card {
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 30px;
    margin-top: -60px;
    padding: 20px;
}
.card-image {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
}
.card-title span {
    color: #BC9060;
}
.card-description {
    text-align: center; 
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    color: #656363;
}

.story {
    margin-top: 166px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 250px;
}
.story-title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    width: 444px;
    text-align: center;
    margin-bottom: 20px;
}
.story-title span {
    color: #D67E34;
}
.story-description {
    color: #656363;
    font-weight: 400;
    font-size: 16px;
    width: 444px;
    text-align: center;

}
.story-numbers {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
}
.number-item {
    margin-right: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #BC9060;
}
.number-item span {
    display: block;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}
.story-holder {
    display: flex;
    justify-content: space-between;
}
.story-images {
    position: relative;
}
.image-1{
    position: absolute;
    z-index: 30;
    top: -50px;
    left: 230px;
}
.image-2{
    position: absolute;
    z-index: 10;
    top: 75px;
    left: 35px;
}
.image-3{
    position: absolute;
    z-index: 20;
    top: 235px;
    left: 330px;
}

.black-block {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px 80px 0;
    
}
.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-title {
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 52px;
    margin-bottom: 20px;
}
.left-text {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
.right-btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    font-size: 14px;
    transition: background-color 0.2s linear; 
}
.right-btn:hover {
    background-color: #bc5002;
}

.dishes-title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 139px;
}
.dishes-title span {
    color: #D67E34;
}

.burgers {
    display: flex;
    justify-content: center;
}
.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.pizza-image {
    margin-right: 30px;
}
.burger-text {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    margin-left: 30px;
}

.menu {
    background-image: url(menubg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 226px;
    margin-top: 150px;

}
.menu-title {
    color: #fff;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    padding-top: 100px;
    padding-bottom: 138px;
    text-align: center;
}
.menu-item {
    background-color: #fff;
    text-align: center;
    width: 30%;
    padding-top: 80px;
    padding-bottom: 30px;
    position: relative;
}
.menu-text {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    padding-top: 22px;
    padding-bottom: 17px;
}
.menu-suptext {
    font-weight: 400;
    font-size: 16px; 
}
.menu-btn {
    background-color: #D67E34;
    text-decoration: none;
    padding: 14px 57px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px #00000040;
    transition: background-color 0.2s linear; 
}
.menu-btn:hover {
    background-color: #bc5002;

}
.menu-button {
    margin-top: 20px;
}
.price-img {
    position: absolute;
    bottom: 0;
    right: 58px;
}
.price-420 {
    position: absolute;
    bottom: 30px;
    right: 85px;
    color: #fff;
    font-weight: 400;
    font-size: 30px

}
.menu-image {
    position: relative;
}
.menu-items {
    display: flex;
    justify-content: space-between;
}
.recommend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D67E34;
    padding: 9px 12px;
}

.testimonials {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}
.testimonial-text {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}
.testimonial-image {
    text-align: center;
    margin-bottom: 16px;
}
.testimonial-type {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.testimonial-name {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.gallery-title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 60px;
}
.gallery-title span{
    color: #D67E34;
}
.gallery-content {
    display: flex;
    justify-content: center;
}
.gallery-left {
    margin-right: 30px;
}
.gallery-down,
.gallery-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cooks {
    padding-bottom: 100px;
}
.cooks-title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.cooks-title span {
    color: #D67E34;
}
.cooks-content {
    display: flex;
    justify-content: space-evenly;
}

.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 200px 0 50px;
}


@media (max-width: 1440px) {

    .gallery-content {
        display: block;
        align-items: center;
    }
    .img-gal,
    .gallery-up,
    .gallery-down {
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .img-gal {
        margin-bottom: 20px;
    }
    .gallery-left {
        margin-right: 0;
    }

}

@media (max-width: 1300px) {
    .menu-items {
        display: block;
    }
    .menu-item {
        margin: 20px auto;
        width: 390px;
    }
    .header-title {
        position: static;
    }
    .header-suptitle::after,
    .header-suptitle::before {
        content: none;
    }
    .cooks-content {
        display: block;
    }
    .cooks-content img {
        display: block;
        margin: 0 auto 30px auto;
    }
    .block-holder {
        display: block;
    }
    .left,
    .right {
        text-align: center;
    }
    .right-button {
        margin-top: 40px;
    }
    .story-holder {
        display: block;
    }
    .story {
        display: block; 
    }
    .story-images {
        display: none;
        
    }
    .image-1{
        top: -50px;
        left: 130px;
    }
    .image-2{
        top: 75px;
        left: -40px;
    }
    .image-3{
        top: 235px;
        left: 190px;
    }
    .story-title,
    .story-description,
    .story-numbers {
        width: auto;
    }
}

@media (max-width:1185px) {
    .burger-menu {
        display: block;
    }
    .nav,
    .cart,
    .phone,
    .btn {
        display: none;
    }
    .glas {
        width: 255px;
    }
    .pizza {
        display: none;
    }

}

@media (max-width: 1111px) {
    .cards-holder {
        display: block;
    }
    .card {
        width: auto;
        margin-top: 30px;
        margin-right: 0;
        padding-bottom: 30px;
    }
    .testimonial-text {
        width: auto;
    }
    .header-title {
        margin-top: 100px;
    }
}


@media (max-width: 780px) {
.container {
    margin: auto 20px;
}
.cards-holder {
    display: block;
    
}
.card {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
    padding-bottom: 30px;
}
.header-title {
    margin-top: 100px;
}
}


@media (max-width:440px) {
    .menu-item {
        margin: 20px auto;
        width: auto;
    }
    .menu-title,
    .testimonials {
        padding-bottom: 70px;
        padding-top: 60px;
    }
    .dishes-title,
    .gallery-title {
        margin-bottom: 70px;
        padding-top: 60px;
    }
    .cooks-title {
        margin-bottom: 70px;
        margin-top: 60px;
    }
    .header-title {
        margin-top: 150px;
    }
    .story {
        margin-top: 60px;
        padding-bottom: 70px;
    }
    .header-title {
        font-size: 30px;
    }
    .header-subtitle {
        font-size: 45px;
    }
    .header-suptitle {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .story-title,
    .left-title,
    .dishes-title,
    .menu-title,
    .gallery-title,
    .cooks-title {
        font-size: 40px;
    }

}

