body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
 
}
.container {
    margin: 0 166px;

}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin-left: 268px;
}
.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}
.nav-item:hover {
    color: #FF7400;
}
.cart {
    border-right: 1px solid #FFFFFF;
    padding-right: 20px;
    height: 50px;
    position: relative;
}
.cart-img {
    position: absolute;
    top: 20px;
    right: 20px;
}
.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;  
    transition: color 0.3s linear; 
}

.num:hover {
    color: #FF7400;  
}
.phone-text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.phone-holder {
    display: flex;
    align-items: center;
}
.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    font-size: 14px;
    transition: background-color 0.2s linear; 
}
.button:hover {
    background-color: #bc5002;
}
.header-body {
    position: relative;
  
}
.header-title {
    position: absolute;
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    left: 50px;
    margin-top: 204px;
    
}
.header-subtitle {
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 80px;
}
.header-suptitle {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.header-suptitle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 61px;
    background-color: #fff;
    left: 335px;
    top: 175px;
}
.header-suptitle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 61px;
    background-color: #fff;
    left: 85px;
    top: 175px;
}
.header-button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 28px;
    text-transform: uppercase;
    transition: background-color 0.2s linear; 

}
.header-button:hover {
    background-color: #bc5002;
}

.cards-holder {
    display: flex;
    justify-content: center;
}
.card {
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 30px;
    margin-top: -60px;
    padding: 20px;
}
.card-image {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
}
.card-title span {
    color: #BC9060;
}
.card-description {
    text-align: center; 
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 26px;
    color: #656363;
}

.story {
    margin-top: 166px;
    display: flex;
    justify-content: space-between;
}
.story-title {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
    width: 444px;
    text-align: center;
    margin-bottom: 20px;
}
.story-title span {
    color: #BC9060;
}
.story-description {
    color: #656363;
    font-weight: 400;
    font-size: 16px;
    width: 444px;
    text-align: center;

}
.story-numbers {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
}
.number-item {
    margin-right: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #BC9060;
}
.number-item span {
    display: block;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}
.story-holder {
    display: flex;
    justify-content: space-between;
}
.story-images {
    position: relative;
}
.image-1{
    position: absolute;
    z-index: 30;
    top: -50px;
    left: 230px;
}
.image-2{
    position: absolute;
    z-index: 10;
    top: 94px;
    left: 32px;
}
.image-3{
    position: absolute;
    z-index: 20;
    top: 255px;
    left: 321px;
}